In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 17.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=f26374935993279f2dc32ffdf4b10d87f6b8390871e805cd7e7a67b2c358cb11
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark import SparkContext

In [3]:
sc = SparkContext("local", "Parallelize RDD creation").getOrCreate()

In [4]:
python_list = [1,4,8,"bigdata","spark","python"]

In [6]:
list_rdd=sc.parallelize(python_list)

In [7]:
for x in list_rdd.collect():
  print(x)

1
4
8
bigdata
spark
python

In [8]:
python_tuple = ("name","rahul")

In [9]:
print(type(python_tuple))

<class 'tuple'>

In [10]:
tuple_rdd = sc.parallelize(python_tuple)

In [11]:
for x in tuple_rdd.collect():
  print(x)

name
rahul

In [12]:
python_set = {1,4,5,2,"A","B",4,5,"a"}

In [13]:
set_rdd = sc.parallelize(python_set)

In [14]:
for x in set_rdd.collect():
  print(x)

1
2
4
5
a
B
A

In [15]:
pyth_dict ={"name":"rahul","age":18,"luminar":"spark"}

In [19]:
dict_rdd = sc.parallelize([pyth_dict])

In [20]:
for x in dict_rdd.collect():
  print(x)

{'name': 'rahul', 'age': 18, 'luminar': 'spark'}

In [21]:
num_rdd = sc.parallelize([I for I in range(0,31)])

In [22]:
for x in num_rdd.collect():
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [23]:
print(type(num_rdd))

<class 'pyspark.rdd.RDD'>

In [25]:
num_rdd = sc.parallelize([i for i in range(1,31) if i%2 == 0])

In [26]:
for x in num_rdd.collect():
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [28]:
num_rdd = sc.parallelize([i**2 if i%2  == 0 else i for i in range(1,31)])

In [29]:
for x in num_rdd.collect():
  print(x)

1
4
3
16
5
36
7
64
9
100
11
144
13
196
15
256
17
324
19
400
21
484
23
576
25
676
27
784
29
900

In [30]:
num_rdd = sc.parallelize([(i,i**2) if i%2  == 0 else (i,i) for i in range(1,31)])

In [31]:
for x in num_rdd.collect():
  print(x)

(1, 1)
(2, 4)
(3, 3)
(4, 16)
(5, 5)
(6, 36)
(7, 7)
(8, 64)
(9, 9)
(10, 100)
(11, 11)
(12, 144)
(13, 13)
(14, 196)
(15, 15)
(16, 256)
(17, 17)
(18, 324)
(19, 19)
(20, 400)
(21, 21)
(22, 484)
(23, 23)
(24, 576)
(25, 25)
(26, 676)
(27, 27)
(28, 784)
(29, 29)
(30, 900)

In [35]:
num_rdd = sc.parallelize(['small' if i <= 10 else 'medium' if 10<i<20 else 'large' for i in range(1,31)])

In [36]:
for x in num_rdd.collect():
  print(x)

small
small
small
small
small
small
small
small
small
small
medium
medium
medium
medium
medium
medium
medium
medium
medium
large
large
large
large
large
large
large
large
large
large
large

In [37]:
num_rdd = sc.parallelize([(i,'small') if i <= 10 else (i,'medium') if 10<i<20 else (i,'large') for i in range(1,31)])

In [38]:
for x in num_rdd.collect():
  print(x)

(1, 'small')
(2, 'small')
(3, 'small')
(4, 'small')
(5, 'small')
(6, 'small')
(7, 'small')
(8, 'small')
(9, 'small')
(10, 'small')
(11, 'medium')
(12, 'medium')
(13, 'medium')
(14, 'medium')
(15, 'medium')
(16, 'medium')
(17, 'medium')
(18, 'medium')
(19, 'medium')
(20, 'large')
(21, 'large')
(22, 'large')
(23, 'large')
(24, 'large')
(25, 'large')
(26, 'large')
(27, 'large')
(28, 'large')
(29, 'large')
(30, 'large')